*{
    padding: 0;
    margin: 0;
}

canvas {
    background-color: #d0dbc6; 
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

#myCanvas {
    width: 480px;
    height: 320px;
}

#score {
    text-align: center;
}
