@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    h1, h2 {
        @apply m-0;
    }
    button {
        @apply font-[inherit] text-2xl leading-none bg-pink/75 border-dashed border-transparent border-1.5 rounded-md py-0.5 px-[5px] mt-2.5 transition duration-200 ease-out;
    }
    button:hover, button.selected {
        @apply border-magenta;
    }
    .game-container {
        @apply border-dashed border-1.5 border-magenta bg-pink/[.67];
    }
    a {
        @apply text-magenta no-underline;
    }
    a:hover {
        @apply underline;
    }
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}

.fade-in {
    transition: opacity 1500ms;
}

